* {
    box-sizing: border-box;
	padding: 0;
	transition: ease-in 0.2s;
	margin: 0;
	outline: none;
	scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #363636;
    letter-spacing: 0.5px;
    scrollbar-color: #888 #ddd;
	scrollbar-width: thin !important;
	scroll-behavior: smooth;
}

:root {
    --primary-color : #5ccf67;  
    --dark-priamry-color : #10963d;
    --secondary-color : #109e90;
    --white-color : #fff;
    --grey-color : grey;
}

h6 {
    font-weight: 400;
}

a {
    text-decoration: none !important;
}

a:hover {
    cursor: pointer;
    color: var(--primary-color) !important;
}

a:hover h4 {
    color: var(--primary-color);
}

body {
    background: var(--background-color);
    padding: 30px 60px;
}

.width-100 {
    width: 100%;
}

.flex-layout {
    display: flex;
}

.flex-dir-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.col-gap-10 {
    column-gap: 10px;
}

.row-gap-10 {
    row-gap: 10px;
}

.col-gap-20 {
    column-gap: 20px;
}

.row-gap-20 {
    row-gap: 20px;
}

.col-gap-40 {
    column-gap: 40px;
}

.row-gap-40 {
    row-gap: 40px;
}

.justify-flex-start {
    justify-content: flex-start;
}

.justify-flex-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.items-flex-start {
    align-items: flex-start;
}

.item-flex-end {
    align-items: flex-end;
}

.items-center {
    align-items: center;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

.padding-40 {
    padding: 40px;
}

.margin-10 {
    margin: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-20 {
    margin: 20px;
}

.bold-text {
    font-weight: bold !important;
}

.box-shadow {
    box-shadow: 0 0 15px #ccc;
}

.posi-rel {
    position: relative;
}

.posi-abs {
    position: absolute;
}

.dis-none {
    display: none !important;
}

.anime-up {
    animation: upTransitionAnime 0.7s forwards;
}

@keyframes upTransitionAnime {
    from {
        opacity: 1;
        top: 0;
    }
    to {
        opacity: 0;
        top: -120px;
    }
}

.anime-down {
    animation: downTransitionAnime 0.7s forwards;
}

@keyframes downTransitionAnime {
    from {
        opacity: 0;
        top: -120px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}

.navbar-anime-down {
    animation: downAnime 0.7s forwards;
}

@keyframes downAnime {
    from {
        opacity: 0;
        top: 0;
    }
    to {
        opacity: 1;
        top: 100px;
    }
}

.navbar-anime-up {
    animation: upAnime 0.7s forwards;
}

@keyframes upAnime {
    from {
        opacity: 1;
        top: 100px;
    }
    to {
        opacity: 0;
        top: 0;
    }
}

.align-justify {
    text-align: justify;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.grey-color {
    color: var(--grey-color);
}

.green-color {
    color: var(--primary-color);
}

.dark-green-color {
    color: var(--dark-priamry-color);
}

.overflow-class {
    overflow: hidden;
}

@media screen and (max-width: 1160px) {

    body {
        padding: 30px;
    }

    .flex-dir-col-res {
        flex-direction: column;
    }

    .flex-dir-rev-col-res {
        flex-direction: column-reverse;
    }

    .dis-none-res {
        display: none;
    }

    .flex-layout-res {
        display: flex !important;
    }

    .align-center-res {
        text-align: center;
    } 

    .logo {
        justify-content: center !important;    
    }
}

@media screen and (max-width: 600px) {
    body {
        padding: 30px 20px;
    }
    .flex-dir-col-res-600 {
        flex-direction: column;
    }
    .res-image {
        width: 100% !important;
    }
    .padding-40 {
        padding: 20px;
    }
    .dis-none-res-600 {
        display: none;
    }
}

/* Hamburger */
.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

.container {
    /* width: 70%; */
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
}

.hamburger {
    /* margin: 0 auto; */
    /* margin-top: 30px;  */
    width: 40px;
    height: 30px;
    position: relative;
}

.hamburger .bar {
    padding: 0;
    width: 35px;
    height: 4px;
    background-color: var(--dark-priamry-color);
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

.hamburger2 .bar2,
.hamburger3 .bar3,
.hamburger4 .bar4 {
    top: 13.5px;
}

.hamburger4 .bar5 {
    bottom: 0px;
}

.hamburger4 .bar {
    transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
}

.hamburger4 .bar2 {
    width: 1px;
    transform: rotate(90deg);
    left: 13.5px;
}

.hamburger4 .bar3 {
    width: 1px;
    left: 13.5px;
    
}

.checkbox4:checked + label > .hamburger4 > .bar1{
    top: 13.5px;
    background-color: transparent;
}

.checkbox4:checked + label > .hamburger4 > .bar2{
    left: 0px;
    width: 30px;
    transform: rotate(45deg);
}

.checkbox4:checked + label > .hamburger4 > .bar3{
    left: 0;
    width: 30px;
    transform: rotate(-45deg);
}

.checkbox4:checked + label > .hamburger4 > .bar4{
    background-color: transparent;
}

.checkbox4:checked + label > .hamburger4 > .bar5{
    bottom: 13.5px;
    background-color: transparent; 
}

.fade-in {
    animation-name: fadein;
    animation-duration: .5s;
}

@keyframes fadein {
    from {opacity: .2} 
    to {opacity: 1}
} 

/* Slider CSS */

.splide__slide img {
    max-width: 100%;
    width: 100%;
    height: 65vh;
    object-fit: cover;
}

/* ___________________ */

.pointer:hover {
    cursor: pointer;
}

.event-card {
    max-width: 300px;
}

.event-card img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.event-card h4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.view-more-btn:hover {
    cursor: pointer;
}

.view-more-btn:hover h5 {
    border: 1px solid black !important;
    color: var(--dark-priamry-color);
}

.pop-up-con {
    width: 50%;
    border-radius: 5px;
    background: var(--white-color);
    z-index: 50;
    max-height: 80vh;
    overflow: auto;
}
