* {
    box-sizing: border-box;
	padding: 0;
	transition: ease-in 0.2s;
	margin: 0;
	outline: none;
	scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #363636;
    letter-spacing: 0.5px;
    scrollbar-color: #888 #ddd;
	scrollbar-width: thin !important;
	scroll-behavior: smooth;
}

:root {
    --primary-color : #5ccf67;  
    --dark-priamry-color : #10963d;
    --secondary-color : #109e90;
    --white-color : #fff;
    --grey-color : grey;
}

h6 {
    font-weight: 400;
}

a {
    text-decoration: none !important;
}

a:hover {
    cursor: pointer;
    color: var(--primary-color) !important;
}

a:hover h4 {
    color: var(--primary-color);
}

body {
    background: var(--background-color);
    padding: 30px 60px;
}

.width-100 {
    width: 100%;
}

.flex-layout {
    display: flex;
}

.flex-dir-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.col-gap-10 {
    column-gap: 10px;
}

.row-gap-10 {
    row-gap: 10px;
}

.col-gap-20 {
    column-gap: 20px;
}

.row-gap-20 {
    row-gap: 20px;
}

.col-gap-40 {
    column-gap: 40px;
}

.row-gap-40 {
    row-gap: 40px;
}

.justify-flex-start {
    justify-content: flex-start;
}

.justify-flex-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.items-flex-start {
    align-items: flex-start;
}

.item-flex-end {
    align-items: flex-end;
}

.items-center {
    align-items: center;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

.padding-40 {
    padding: 40px;
}

.margin-10 {
    margin: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-20 {
    margin: 20px;
}

.bold-text {
    font-weight: bold !important;
}

.box-shadow {
    box-shadow: 0 0 15px #ccc;
}

.posi-rel {
    position: relative;
}

.posi-abs {
    position: absolute;
}

.dis-none {
    display: none !important;
}

.anime-up {
    animation: upTransitionAnime 0.7s forwards;
}

@keyframes upTransitionAnime {
    from {
        opacity: 1;
        top: 0;
    }
    to {
        opacity: 0;
        top: -120px;
    }
}

.anime-down {
    animation: downTransitionAnime 0.7s forwards;
}

@keyframes downTransitionAnime {
    from {
        opacity: 0;
        top: -120px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}

.navbar-anime-down {
    animation: downAnime 0.7s forwards;
}

@keyframes downAnime {
    from {
        opacity: 0;
        top: 0;
    }
    to {
        opacity: 1;
        top: 100px;
    }
}

.navbar-anime-up {
    animation: upAnime 0.7s forwards;
}

@keyframes upAnime {
    from {
        opacity: 1;
        top: 100px;
    }
    to {
        opacity: 0;
        top: 0;
    }
}

.align-justify {
    text-align: justify;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.grey-color {
    color: var(--grey-color);
}

.green-color {
    color: var(--primary-color);
}

.dark-green-color {
    color: var(--dark-priamry-color);
}

.overflow-class {
    overflow: hidden;
}

.fade-in {
    animation-name: fadein;
    animation-duration: .5s;
}

@keyframes fadein {
    from {opacity: .2} 
    to {opacity: 1}
} 

/* Hamburger */

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  /* height: 50px; */
  padding: 0;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 3;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 3;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 3;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 3;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 3;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 3;
}

/* Slider CSS */

.splide__slide img {
    max-width: 100%;
    width: 100%;
    height: 65vh;
    object-fit: cover;
}

/* ___________________ */

.pointer:hover {
    cursor: pointer;
}

.event-card {
    max-width: 300px;
}

.event-card img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.event-card h4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.view-more-btn:hover {
    cursor: pointer;
}

.view-more-btn:hover h5 {
    border: 1px solid black !important;
    color: var(--dark-priamry-color);
}

.pop-up-con {
    width: 50%;
    border-radius: 5px;
    background: var(--white-color);
    z-index: 50;
    max-height: 80vh;
    overflow: auto;
    padding-top: 0 !important;
}







@media screen and (max-width: 1160px) {

    body {
        padding: 30px;
    }

    .flex-dir-col-res {
        flex-direction: column;
    }

    .flex-dir-rev-col-res {
        flex-direction: column-reverse;
    }

    .dis-none-res {
        display: none;
    }

    .flex-layout-res {
        display: flex !important;
    }

    .align-center-res {
        text-align: center;
    } 

    .logo {
        justify-content: center !important;    
    }
    .pop-up-con {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    body {
        padding: 30px 20px;
    }
    .flex-dir-col-res-600 {
        flex-direction: column;
    }
    .res-image {
        width: 100% !important;
    }
    .padding-40 {
        padding: 20px;
    }
    .dis-none-res-600 {
        display: none;
    }
    .dis-block-res-600 {
        display: block !important;
    }
    .pop-up-con {
        width: 95%;
    }
}